<div class="col-sm-12 m-0 p-0 bg bg-light" @fade>
    <div class="col-sm-6 offset-sm-3 p-3">
        <span class="text-montserrat-bold h5 d-block">PARRAINER UN MEMBRE</span>
        <hr class=" mr-0" style="height: 3px; background-color: #010c42; width: 90%;">
        <form action="#" method="post">
            <label for="nom" class="text-montserrat m-0">NOM<span class="text-danger">*</span></label>
            <input type="text" name="nom" id="nom" class="form-control m-0">
            <label for="nom" class="text-montserrat m-0">POSTNOM<span class="text-danger">*</span></label>
            <input type="text" name="nom" id="nom" class="form-control">
            <label for="nom" class="text-montserrat m-0">PRENOM<span class="text-danger">*</span></label>
            <input type="text" name="nom" id="nom" class="form-control  m-0">
            <div class="form-check form-check-inline mt-1">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="M">
                <label class="form-check-label text-montserrat" for="inlineRadio1">Homme</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="F">
                <label class="form-check-label text-montserrat" for="inlineRadio2">Femme</label>
            </div>
            <div class="d-flex justify-content-between m-0">
                <!-- <div class="form-group col-5 p-0">
                    <label for="nom" class="text-montserrat mt-3">LIEU DE NAISSANCE<span class="text-danger">*</span></label>
                    <input type="text" name="nom" id="nom" class="form-control">
                </div> -->
                <div class="form-group col-12 p-0">
                    <label for="nom" class="text-montserrat  m-0">DATE DE NAISSANCE<span class="text-danger">*</span></label>
                    <input type="date" name="nom" id="nom" class="form-control m-0">
                </div>
            </div>
            <label for="nom" class="text-montserrat m-0">PAYS<span class="text-danger">*</span></label>
            <select name="nom" #country (change)="onCountrySelected(country.value)" [(ngModel)]="codeCountry" id="nom" class="form-control m-0">
                <option value="+243">RD CONGO</option>
                <option value="+242">CONGO BRAZZA</option>
            </select>
            <label for="nom" class="text-montserrat m-0">TELEPHONE<span class="text-danger">*</span></label>
            <div class="input-group m-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{codeCountry}}</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="ex: 90785667">
              </div>
            <label for="nom" class="text-montserrat m-0">MAIL</label>
            <input type="email" name="nom" id="nom" class="form-control m-0">
            <label for="nom" class="text-montserrat m-0">BRANCHE D'ADHESION<span class="text-danger">*</span></label>
            <select name="nom" id="nom" class="form-control m-0">
                <option value="+243">RD CONGO</option>
                <option value="+242">CONGO BRAZZA</option>
            </select>
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label text-montserrat" for="defaultCheck1">
                  J'accepte les <span class="text-muted">termes et conditions</span> de la mutualité MLI
                </label>
            </div>
            <button type="button" class="btn text-white mt-3 rounded-pill p-2 col-6 offset-3 shadow main-color cursor">Enregistrer</button>
        </form>
    </div>
</div>