<div class="col-sm-12">
    <h1 class="text-center font-weight-height">RAPPORT SYSTEME DE RECETTE DE PARAINAGE</h1>
    <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-inline p-0  pb-0 my-2">
        <label for="" class="ml-2">Date Debut</label>
        <input type="date" name="opopo" id="" [(ngModel)]="data.debut" class="form-control form-control-sm col-3 ml-2 rounded-0">
        <label for="" class="ml-2">Date fin</label>  
        <input type="date" name="opop" id="" [(ngModel)]="data.fin" class="form-control form-control-sm col-3 ml-2 rounded-0">
        <button class="btn btn-primary rounded-0 btn-sm ml-4" type="submit" id="button-addon2">Rechercher</button>        
    </form>
    <hr>
    <h5>RESUME GENERAL DU SYSTEME</h5>
    <table *ngIf="rapport" class="table table-sm col-sm-6 table-bordered table-striped  table-hover">
        <thead class="thead-dark">
            <th>RUBRIQUE</th>
            <th>VALEUR</th>
        </thead>
        <tbody>
            <tr>
                <td>MEMBRES ENREGISTRES</td>
                <td>{{rapport.membres?.length}}</td>
            </tr>
            <tr>
                <td>PARRAINAGES ENREGISTRES TOTAL</td>
                <td>{{rapport.parrainages?.length}}</td>
            </tr>
            <tr>
                <td>PARRAINAGES ENREGISTRES NON-ACTIVES</td>
                <td>{{totalNonActive()}}</td>
            </tr>
            <tr>
                <td>PARRAINAGES ENREGISTRES ACTIVES</td>
                <td>{{totalActive()}}</td>
            </tr>

        </tbody>
    </table>
    <div class="row d-sm-flex">
        <div class="col-sm-6">
            <h3 class="text-center">PARTAGE USD</h3>
            <table class="table table-sm table-bordered table-striped  table-hover">
                <caption>Total Général</caption>
                <thead class="thead-dark">
                    <th>CALCUL SUR CHAQUE ENTREE</th>
                    <th>100%</th>
                    <th>{{calculTotalUSD()}}</th>
                </thead>
                <tbody>
                    <tr>
                        <td>LE SYSTEME</td>
                        <td>37%</td>
                        <td>{{calculTotalUSD() | percent:37}}</td>
                    </tr>
                    <tr>
                        <td>LA RETROCESSION</td>
                        <td>63%</td>
                        <td>{{calculTotalUSD() | percent:63}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-sm table-borderless table-striped mt-3">
                <caption>Partage système</caption>
                <thead class="thead-dark">
                    <th>SYSTEME</th>
                    <th>37%</th>
                    <th>{{calculTotalUSD() | percent:37}}</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-warning">ADMINISTRATION</td>
                        <td class="table-dark">24.46%</td>
                        <td class="table-secondary">{{calculTotalUSD() | percent:24.4}}</td>
                    </tr>
                    <tr>
                        <td class="table-warning">NOYAU</td>
                        <td class="table-dark">12.54%</td>
                        <td class="table-secondary">{{calculTotalUSD() | percent:12.54}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-sm table-borderless table-striped mt-3" *ngIf="service.userConnected.role == 'systeme'">
                <caption>Partage noyau</caption>
                <thead class="thead-dark">
                    <th>TOTAL NOYAU</th>
                    <th>12.54%</th>
                    <th>{{calculTotalUSD() | percent:12.54}}</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-warning">CONCEPTION DU PROJET</td>
                        <td class="table-dark">3%</td>
                        <td class="table-secondary">{{calculTotalUSD() | percent:3}}</td>
                    </tr>
                    <tr>
                        <td class="table-warning">LE DEVELOPPEMENT DE L'APPLICATION</td>
                        <td class="table-dark">2%</td>
                        <td class="table-secondary">{{calculTotalUSD() | percent:2}}</td>
                    </tr>
                    <tr>
                        <td class="table-warning">LA CONCEPTION DU SYSTEME DE PAIEMENT</td>
                        <td class="table-dark">1%</td>
                        <td class="table-secondary">{{calculTotalUSD() | percent:1}}</td>
                    </tr>
                    <tr>
                        <td class="table-warning">LA PRISE EN CHARGE DE L'EVOLUTION DU PROJET</td>
                        <td class="table-dark">6.54%</td>
                        <td class="table-secondary">{{calculTotalUSD() | percent:6.54}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-sm table-borderless table-striped mt-3">
                <caption>Partage de la retrocession</caption>
                <thead class="thead-dark">
                    <th>TOTAL RETROCESSION</th>
                    <th>63%</th>
                    <th>{{calculTotalUSD() | percent:63}}</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-warning">PARRAIN</td>
                        <td class="table-dark">40%</td>
                        <td class="table-secondary">{{calculTotalUSD() | percent:40}}</td>
                    </tr>
                    <tr>
                        <td class="table-warning">GRAND PARRAIN</td>
                        <td class="table-dark">14%</td>
                        <td class="table-secondary">{{calculTotalUSD() | percent:14}}</td>
                    </tr>
                    <tr>
                        <td class="table-warning">ARRIERE GRAND PARRAIN</td>
                        <td class="table-dark">9%</td>
                        <td class="table-secondary">{{calculTotalUSD() | percent:9}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-6 bg-white">
            <h3 class="text-center">PARTAGE CDF</h3>
            <table class="table table-sm table-bordered table-striped  table-hover">
                <caption>Total Général</caption>
                <thead class="thead-dark">
                    <th>CALCUL SUR CHAQUE ENTREE</th>
                    <th>100%</th>
                    <th>{{calculTotalCDF()}}</th>
                </thead>
                <tbody>
                    <tr>
                        <td>LE SYSTEME</td>
                        <td>37%</td>
                        <td>{{calculTotalCDF() | percent:37}}</td>
                    </tr>
                    <tr>
                        <td>LA RETROCESSION</td>
                        <td>63%</td>
                        <td>{{calculTotalCDF() | percent:63}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-sm table-borderless table-striped mt-3">
                <caption>Partage système</caption>
                <thead class="thead-dark">
                    <th>SYSTEME</th>
                    <th>37%</th>
                    <th>{{calculTotalCDF() | percent:37}}</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-warning">ADMINISTRATION</td>
                        <td class="table-dark">24.46%</td>
                        <td class="table-secondary">{{calculTotalCDF() | percent:24.4}}</td>
                    </tr>
                    <tr>
                        <td class="table-warning">NOYAU</td>
                        <td class="table-dark">12.54%</td>
                        <td class="table-secondary">{{calculTotalCDF() | percent:12.54}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-sm table-borderless table-striped mt-3"  *ngIf="service.userConnected.role == 'systeme'">
                <caption>Partage noyau</caption>
                <thead class="thead-dark">
                    <th>TOTAL NOYAU</th>
                    <th>12.54%</th>
                    <th>{{calculTotalCDF() | percent:12.54}}</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-warning">CONCEPTION DU PROJET</td>
                        <td class="table-dark">3%</td>
                        <td class="table-secondary">{{calculTotalCDF() | percent:3}}</td>
                    </tr>
                    <tr>
                        <td class="table-warning">LE DEVELOPPEMENT DE L'APPLICATION</td>
                        <td class="table-dark">2%</td>
                        <td class="table-secondary">{{calculTotalCDF() | percent:2}}</td>
                    </tr>
                    <tr>
                        <td class="table-warning">LA CONCEPTION DU SYSTEME DE PAIEMENT</td>
                        <td class="table-dark">1%</td>
                        <td class="table-secondary">{{calculTotalCDF() | percent:1}}</td>
                    </tr>
                    <tr>
                        <td class="table-warning">LA PRISE EN CHARGE DE L'EVOLUTION DU PROJET</td>
                        <td class="table-dark">6.54%</td>
                        <td class="table-secondary">{{calculTotalCDF() | percent:6.54}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-sm table-borderless table-striped mt-3">
                <caption>Partage de la retrocession</caption>
                <thead class="thead-dark">
                    <th>TOTAL RETROCESSION</th>
                    <th>63%</th>
                    <th>{{calculTotalCDF() | percent:63}}</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-warning">PARRAIN</td>
                        <td class="table-dark">40%</td>
                        <td class="table-secondary">{{calculTotalCDF() | percent:40}}</td>
                    </tr>
                    <tr>
                        <td class="table-warning">GRAND PARRAIN</td>
                        <td class="table-dark">14%</td>
                        <td class="table-secondary">{{calculTotalCDF() | percent:14}}</td>
                    </tr>
                    <tr>
                        <td class="table-warning">ARRIERE GRAND PARRAIN</td>
                        <td class="table-dark">9%</td>
                        <td class="table-secondary">{{calculTotalCDF() | percent:9}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>