<div class="col-12 d-flex flex-column justify-content-center p-3 m-0" @fade>
    <div class="d-flex justify-content-center">
        <div class="col-12 col-sm-6 rounded box shadow-lg p-sm-4 p-0 m-0">
            <span class="text-center mt-3 h3 d-block text-montserrat-bold">Se connecter</span>
            <form  (ngSubmit)="onSubmit()" #form="ngForm" class="d-flex justify-content-center p-2">
                <div class="p-0 mx-auto">
                    <hr class="bg bg-light mt-0">
                    <input type="text" name="username" class="col-12 form-control p-2 mt-3" placeholder="Téléphone(ex: +2438200000001)"  [(ngModel)]="data.username">
                    <input type="password" name="password" class="col-12 form-control p-2 mt-2" placeholder="Mot de passe" [(ngModel)]="data.password">
                    <button class="col-12 btn main-color text-white rounded-0 mt-4">Conexion</button>
                    <span class=" d-block mt-1  col-12 text-right text-muted">Vous n'avez pas de compte? <a [routerLink]="['/inscription']"   [replaceUrl]="true" class=""> S'inscrire</a></span>
                    <!-- <div class="mt-2 h6 text-center text-white">Connexion en cours ...</div> -->
                </div>
            </form>
        </div>
    </div>
</div>