<div class="col-sm-12 m-0 p-0">
    <div class="col-sm-6 offset-sm-3 p-3 h-75">
        <span class="text-montserrat-bold h5 d-block">MES PAIEMENTS</span>
        <hr class=" mr-0" style="height: 3px; background-color: #010c42; width: 90%;">
        <div class="">
            <label for="nodfdfdm" style="font-size: small;" class="text-montserrat">DATE DEMANDE</label>
            <div class="d-md-flex">
                <input type="date" [(ngModel)]="date" placeholder="ex: +24381000000" name="gfbgbdsff" maxlength="18" id="nom" class="form-control col-md-4">
                <button (click)="update()" type="submit" class="btn text-montserrat text-white rounded-pill p-2 col-md-4 col-sm-3 ml-md-2 mt-2  mt-md-0 shadow main-color cursor">VALIDER</button>
            </div>
        </div>
        <div *ngIf="paiements" class="overflow-auto" style="height: 70vh;" @fade>
            <div class="mt2 p-2 border mt-2 rounded" *ngFor="let paiement of paiements">
                <span class="d-block m-0 text-montserrat-bold">{{paiement.membre.nom}} {{paiement.membre.postnom}} {{paiement.membre.prenom}}</span>
                <span class="d-block m-0 text-montserrat-bold">Téléphone: {{paiement.membre.telephone}}</span>
                <span class="d-block m-0 text-montserrat-bold">Montant USD: {{paiement.montantUSD}}</span>
                <span class="d-block m-0 text-montserrat-bold">Frais USD: {{paiement.fraisUSD}}</span>
                <br>
                <span class="d-block m-0 text-montserrat-bold">Montant CDF: {{paiement.montantCDF}}</span>
                <span class="d-block m-0 text-montserrat-bold">Frais CDF: {{paiement.fraisCDF}}</span>
                <span class="d-block text-montserrat" *ngIf="paiement.fkAdmin" style="font-size: small;">ID Agent: {{paiement.fkAdmin}}</span>
                <span class="d-block text-montserrat" *ngIf="paiement.fkManager" style="font-size: small;">ID Manager: {{paiement.fkManager}}</span>
                <span class="d-inline-block m-0 text-montserrat mt-1" style="font-size: small;">Date demande: {{paiement.dateDemande | date:'dd/MM/yyyy'}}</span>
                <span class="d-block m-0 text-montserrat mt-1" *ngIf="paiement.datePaiement" style="font-size: small;">Date paiement: {{paiement.datePaiement | date:'dd/MM/yyyy'}}</span>
                <span class="d-block text-montserrat" style="font-size: small;">Statut: {{paiement.etat}}</span><br>
                <div *ngIf="!paiement.statut" (click)="annuler(paiement)" class="btn text-white d-inline-block btn-sm main-color" style="font-size: small;">Annuler</div>
                <div *ngIf="!paiement.statut" (click)="valider(paiement)" class="btn text-white d-inline-block btn-sm main-color ml-3" style="font-size: small;">Valider</div>
            </div>
        </div>
    </div>
</div>