<app-banner></app-banner>
<div class="col-sm-12 m-0 bg pb-3 bg-light" style="font-size: 1.3em;" @fade>
    <span class="text-montserrat-bold h5 mt-3 d-block">QUI SOMMES-NOUS</span>
    <hr class=" mr-0" style="height: 3px; background-color: #010c42; width: 90%;">

    <p class="col-sm-12 text-justify text-cambay  d-sm-inline-block">
        Nous sommes un réseau des leaders, entrepreneurs, des gens 
        de bonne volonté, animés d'un esprit de développement, nous 
        avons créé cette association (MLI/ASBL) afin de promouvoir 
        conjointement l'entreprenariat et l'éducation financière pour 
        améliorer notre vie sociale par l'auto prise en charge et 
        dans l’Agrobusiness. 
    </p>
    <div class="col-sm-5 d-sm-inline-block align-top">
        <div class="d-flex justify-content-center">
            <img src="assets/images/img_group.png" class="w-100" alt="logo mli">
        </div>
    </div>
    <p class="col-sm-7 text-justify text-cambay  d-sm-inline-block">
        La Mutualité Likelemba Intelligent MLI/ASBL regroupe des jeunes 
        entrepreneurs ayant travaillé d’un commun accord pour la mise sur 
        pied du projet fructueux intitulé I.Likelemba, une application et 
        un système naturel de partage, tiré de la ristourne traditionnelle, 
        associé au marketing relationnel. C’est un mécanisme d’autofinancement 
        par excellence, et sans remboursement. <br><br>
        L’application I.Likelemba gère les donations volontaires des membres, 
        une suite de caisse sociale. Elle permet automatiquement le partage direct 
        et systématique des dons.
    </p>
    <p class="col-sm-7 text-justify text-cambay mt-3  d-sm-inline-block">
        L’application I.Likelemba gère les donations volontaires des membres, 
        une suite de caisse sociale. Elle permet automatiquement le partage direct 
        et systématique des dons. <br> 
        Le résultat attendu de ce dynamisme des agents de développement est 
        d'encourager l'entreprenariat à travers l'outil informatique et de 
        faire bénéficier chaque partisan de façon équitable. 
        <br>
        NB : L’application I.Likelemba n’est pas un système d’EPARGNE, plutôt de PARTAGE.

    </p>

    <div class="col-sm-5 d-sm-inline-block align-top mt-3">
        <div class="d-flex justify-content-center">
            <img src="assets/images/cotisation.png" class="w-100" alt="logo mli">
        </div>
    </div>

    <span class="text-montserrat-bold h5 mt-3 d-block">NOS OBJECTIFS</span>
    <hr class=" mr-0" style="height: 3px; background-color: #010c42; width: 90%;">

    <p class="col-sm-12 text-justify text-cambay  d-sm-inline-block">
        Notre objectif premier est que tout adhérent  
        participe activement tout en ayant la possibilité 
        d’accumuler des revenus par le parrainage de leurs filleuls 
        y afférent, par financement participatif, ils acquièrent des 
        formations qui renforcent leurs compétences professionnelles et 
        performantes, prospectives du développement.
    </p>

    <div class="col-sm-7 text-justify text-cambay  d-sm-inline-block">
        <span class="text-montserrat-bold h5 mt-3 d-block">NOS SERVICES</span>
        <hr class=" mr-0" style="height: 3px; background-color: #010c42; width: 90%;">
        <ul>
            <li>Formation en développement des applications informatiques.</li>
            <li>Formation en éducation financière.</li>
            <li>Formation en entrepreneuriat, agropastoral et auto prise en charge (dans le domaine de l’agriculture).</li>
            <li>Formation en marketing relationnel</li>
            <li>Formation en création et gestion des projets. (informatique, technologique, financier, commerce, agropastoral et télécommunication.</li>
        </ul>
    </div>
    <div class="col-sm-5 d-sm-inline-block align-top mt-sm-5">
        <div class="d-flex justify-content-center">
            <img src="assets/images/formation.png" class="w-100" alt="logo mli">
        </div>
    </div>

    <span class="text-montserrat-bold h5 mt-3 d-block">CONVENTIONS</span>
    <hr class=" mr-0" style="height: 3px; background-color: #010c42; width: 90%;">

    <p class="col-sm-12 text-justify text-cambay  d-sm-inline-block">
        Pour la sécurité des uns des autres, l
        a « Mutualité Likelemba Intelligent » MLI /ASBL 
        régit une convention  éditant les droits et obligations 
        portant sur l’adhésion volontaires des membres dans la 
        plateforme I.Likelemba, produit de MLI/ASBL.

        Tous les partisans de la plateforme I.Likelemba ont le devoir fondamental 
        et sans arrêt, d’effectuer : <br>
        Les donations, parrainages et rotations, pour avoir un système 
        rétiforme, dans toute équité, au regard des statuts et règlement 
        d’ordre intérieur de la « Mutualité Likelemba Intelligent » MLI /ASBL.

    </p>
    <div class="d-sm-flex">
        <img src="assets/images/money.png" class="w-50" alt="logo mli">
        <img src="assets/images/moneysecure.png" class="w-50 ml-sm-2 mt-sm-0 mt-2" alt="logo mli">
    </div>

    <p class="col-sm-12 text-justify text-cambay  d-sm-inline-block">
        Notre ambition pertinente est non seulement d’investir, mais aussi 
        de trouver des solutions informatiques appropriées dans le domaine de l’agriculture. 

    </p>

    <!-- <span class="text-montserrat-bold h5 mt-3 d-block">NOTRE EQUIPE</span>
    <hr class=" mr-0" style="height: 3px; background-color: #010c42; width: 90%;">

    <div class="col-sm-6 p-0 offset-sm-6">
        <span class="text-montserrat-bold h5 mt-3 d-block">DIDIER BESONGO</span>
    </div>
    <div class="col-sm-6 d-sm-inline-block align-top">
        <div class="d-flex justify-content-center">
            <img src="assets/images/dbb.png" class="w-100" alt="logo mli">
        </div>
    </div>
    <div class="col-sm-6 d-sm-inline-block align-top">
        <p class="text-justify text-montserrat  d-sm-inline-block">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Saepe possimus minus quos illum nisi necessitatibus id? Architecto, 
            fugit suscipit atque corporis iure consectetur, culpa ullam, 
        </p>
        <span class="text-montserrat font-weight-bold text-underlined h6 mt-3 d-block">Contacts</span>
        <span class="text-montserrat">email: didierbesongo@gmail.com</span><br>
        <span class="text-montserrat">Téléphone: +243 000000000 / 000000000</span><br>
        <span class="text-montserrat">Facebook: Didier Besongo</span>
    </div>
    <div class="col-sm-6 p-0 offset-sm-6 mt-5">
        <span class="text-montserrat-bold h5 mt-3 d-block">Coordon WETU</span>
    </div>
    <div class="col-sm-6 d-sm-inline-block align-top">
        <div class="d-flex justify-content-center">
            <img src="assets/images/dbb.png" class="w-100" alt="logo mli">
        </div>
    </div>
    <div class="col-sm-6 d-sm-inline-block align-top">
        <p class="text-justify text-montserrat  d-sm-inline-block">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Saepe possimus minus quos illum nisi necessitatibus id? Architecto, 
            fugit suscipit atque corporis iure consectetur, culpa ullam, 
        </p>
        <span class="text-montserrat font-weight-bold text-underlined h6 mt-3 d-block">Contacts</span>
        <span class="text-montserrat">email: didierbesongo@gmail.com</span><br>
        <span class="text-montserrat">Téléphone: +243 000000000 / 000000000</span><br>
        <span class="text-montserrat">Facebook: Didier Besongo</span>
    </div> -->
</div>
<app-footer></app-footer>