<div class="col-12">
    <div class="card">
        <div class="card-header p-0" style="background-color: #010c42; color: white;">
            <h1 class="text-center font-weight-bold">PARRAINAGE</h1>
        </div>
        <mat-progress-bar mode='indeterminate' *ngIf="waiting"></mat-progress-bar>
        <div class="card-body">
            <h3 class="font-weight-bold">I. IDENTITE</h3>
            <table class="col-12">
                <tbody>
                    <tr>
                        <td class="col-6">{{parrainage.membre.nom}} {{parrainage.membre.postnom}} {{parrainage.membre.prenom}}</td>
                        <td class="col-6">SEXE: {{parrainage.membre.sexe}}</td>
                    </tr>
                    <tr>
                        <td class="col-6">TELEPHONE: {{parrainage.membre.telephone}}</td>
                        <td class="col-6">email: {{parrainage.membre.email}}</td>
                    </tr>
                    <tr>
                        <td class="col-12" colspan="2"><span class="seeMore text-primary font-weight-bold" (click)="seeMore = !seeMore"><i class="fa fa-plus"></i> Voir plus</span></td>
                    </tr>
                    <tr *ngIf="seeMore"> 
                        <td class="col-12" colspan="2">
                            <app-branche-box [arbre]="parrainage.fkArbre" class="mt-1 col-12"></app-branche-box>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div *ngIf="parrainage.parrain">
                <h3 class="font-weight-bold">II. PARRAINAGE</h3>
                <table class="col-12">
                    <tbody class="">
                        <tr>
                            <td class="col-6">Branche: {{parrainage.fkArbre.description}}</td>
                            <td class="col-6">Mise: {{parrainage.fkArbre.montant}} {{parrainage.fkArbre.devise.code}}</td>
                            
                        </tr>
                        <tr>
                            <td class="col-6">Parrain: {{parrainage.parrain.nom}} {{parrainage.parrain.postnom}} {{parrainage.parrain.prenom}}</td>
                            <td class="col-6">Contact: {{parrainage.parrain.telephone}} - email:{{parrainage.parrain.email}}</td>
                            
                        </tr>
                        <tr>
                            <td class="col-6">Date de parrainage: {{parrainage.dateCreat | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td class="col-6">Statut: {{parrainage.statut | statutMembre}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header" style="background-color: #010c42; color: white;">
            <div class="d-flex">
                <button mat-raised-button color="primary" *ngIf="!parrainage.statut" (click)="activer()">Activer</button>
                <button mat-raised-button color="accent" *ngIf="!parrainage.statut" class="ml-2">Désactiver</button>
                <button class="ml-auto rounded-0" mat-raised-button mat-dialog-close color="warn" mat->Fermer</button>
            </div>
        </div>
    </div>
</div>