<div class="col-sm-12 body p-1">
    <div class="offset-sm-2 col-sm-9">
        <form (ngSubmit)="onSubmit()"  #form="ngForm" class="col-sm-12 p-2 text-white rounded"  style="background-color: rgba(5, 44, 117, 0.904);">
            <h5 class="text-center font-weight-bold">Inscrivez-vous à Likelemba intelligent</h5>
            <hr class="bg bg-white">
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="nom">NOM<span class="text-danger">*</span></label>
                    <input type="text" #nom [ngClass]="{required: nom.value.length <= 0}" required maxlength="25" name="nom"  [(ngModel)]="membre.nom" id="nom" class="form-control rounded-0">
                </div>
                <div class="form-group col-sm-4">
                    <label for="postnom">POSTNOM</label>
                    <input type="text" maxlength="25" name="postnom"  [(ngModel)]="membre.postnom" id="postnom" class="form-control rounded-0">
                </div>
                <div class="form-group col-sm-4">
                    <label for="prenom">PRENOM<span class="text-danger">*</span></label>
                    <input type="text"  #postnom [ngClass]="{required: postnom.value.length <= 0}" required maxlength="25" name="prenom" [(ngModel)]="membre.prenom" id="prenom" class="form-control rounded-0">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="sexe">SEXE</label>
                    <select type="text" name="sexe" [(ngModel)]="membre.sexe" id="sexe" class="form-control rounded-0">
                        <option value="M" selected="selected">HOMME</option>
                        <option value="F">FEMME</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <label for="lieu">LIEU DE NAISSANCE<span class="text-danger">*</span></label>
                    <input type="text"  #lieu [ngClass]="{required: lieu.value.length <= 0}" required name="lieu" [(ngModel)]="membre.lieuNaissance" id="lieu" class="form-control rounded-0">
                </div>
                <div class="form-group col-sm-4">
                    <label for="date">DATE DE NAISSANCE<span class="text-danger">*</span></label>
                    <input type="date" required  #date [ngClass]="{required: date.value.length <= 0}" name="date" [(ngModel)]="membre.dateNaissance" id="date" class="form-control rounded-0">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="pays">PAYS</label>
                    <select type="text" name="pays" id="pays" class="form-control rounded-0">
                        <option value="+243">CONGO KINSHASA</option>
                        <option value="+244">CONGO BRAZZA</option>
                        <option value="+242">ANGOLA</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <label for="lieu">TELEPHONE<span class="text-danger">*</span></label>
                    <input type="tel" maxlength="10"  #tel [ngClass]="{required: !membre.telephone || membre.telephone.length !== 10}"  [(ngModel)]="membre.telephone" required name="lieu" id="lieu" class="form-control rounded-0">
                </div>
                <div class="form-group col-sm-4">
                    <label for="date">ADRESSE EMAIL</label>
                    <input type="email" [(ngModel)]="membre.email" (keyup)="isEmailCorrect()" [ngClass]="{required: isEmailCorrect() !== true}" name="date" id="date" class="form-control rounded-0">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="branche">BRANCHE DE PARRAINAGE</label>
                    <select type="text" #select (change)="onSelect(select.value)"  required  name="branche" id="branche" class="form-control rounded-0">
                        <option value="">SELECTIONNER UNE BRANCHE DE COTISATION</option>
                        <option  *ngFor="let arbre of arbres; index as i" value="{{arbre.code}}">{{arbre.description}} {{arbre.montant}} {{arbre.devise.code}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="password">MOT DE PASSE<span class="text-danger">*</span></label>
                    <input type="password" required [(ngModel)]="membre.login.password" name="password" id="password" class="form-control rounded-0">
                </div>
                <div class="form-group col-sm-12">
                    <label for="repeat">CONFIRMER MOT DE PASSER<span class="text-danger">*</span></label>
                    <input type="password" [(ngModel)]="confirmPassword" required name="repeat" id="repeat" class="form-control rounded-0">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-check">
                        <input class="form-check-input" [checked]="isChecked" (change)="isChecked = !isChecked"  type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            J'ACCEPTE <a href="#" class="text-success">LES TERMES ET CONDITIONS</a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-sm-12">
                    <button type="submit"  [disabled]="(form.invalid || !isChecked || !isPasswordCorrect())" class="btn btn-danger rounded-lg col-sm-12">S'INSCRIRE</button>
                </div>
            </div>
        </form>
    </div>
</div>