<div class="col-sm-12 m-0 p-0 bg bg-light" @fade>
    <div class="col-sm-6 offset-sm-3 p-3">
        <span class="text-montserrat-bold h5 d-block">INSCRIPTION</span>
        <hr class=" mr-0" style="height: 3px; background-color: #010c42; width: 90%;">
        <form (ngSubmit)="onSubmit()"  #form="ngForm" method="post">
            <div *ngIf="membre.fkParrain">
                <label for="nom" class="text-montserrat m-0" style="font-size: small;">ID PARRAIN</label>
                <input style="font-size: small;" type="text" disabled name="nom" id="nom" class="form-control m-0" value="MLI-{{membre.fkParrain}}">
            </div>
            <div *ngIf="branche">
                <label style="font-size: small;" for="nom" class="text-montserrat m-0">BRANCHE D'ADHESION</label>
                <input style="font-size: small;" type="text" disabled name="nom" id="nom" class="form-control m-0" value="{{arbreSelect()}}">
            </div>
            <div *ngIf="!branche">
                <label style="font-size: small;" for="nom" class="text-montserrat m-0">DEVISE</label>
                <select style="font-size: small;" type="text" [(ngModel)]="devise"    name="devbv"  class="form-control">
                    <option value="">SELECTIONNER DEVISE</option>
                    <option  *ngFor="let devise of devises" value="{{devise.code}}">{{devise.description}}</option>
                </select>
                <label style="font-size: small;" for="nom" class="text-montserrat m-0">BRANCHE D'ADHESION<span class="text-danger">*</span></label>
                <select style="font-size: small;" type="text" #select (change)="onSelect(select.value)"    name="branche" id="branche" class="form-control">
                    <option value="">SELECTIONNER UNE BRANCHE</option>
                    <option  *ngFor="let arbre of onDeviseChange(); index as i" value="{{arbre.code}}">{{arbre.description}} {{arbre.montant}} {{arbre.devise.code}}</option>
                </select>
            </div>
            <label style="font-size: small;" for="nom" class="text-montserrat m-0">NOM<span class="text-danger">*</span></label>
            <input style="font-size: small;" type="text" name="nom" id="nodfdfffm" class="form-control m-0" required maxlength="25" name="nom"  [(ngModel)]="membre.nom">
            <label style="font-size: small;" for="nom" class="text-montserrat m-0">POSTNOM</label>
            <input style="font-size: small;" type="text" id="nom" class="form-control m-0" maxlength="25" name="postnom"  [(ngModel)]="membre.postnom">
            <label style="font-size: small;" for="nom" class="text-montserrat m-0">PRENOM<span class="text-danger">*</span></label>
            <input style="font-size: small;" type="text" id="nom" class="form-control m-0" required maxlength="25" name="prenom"  [(ngModel)]="membre.prenom">
            <div class="form-check form-check-inline mt-1">
                <input style="font-size: small;" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="M" [(ngModel)]="membre.sexe">
                <label style="font-size: small;" class="form-check-label text-montserrat" for="inlineRadio1">Homme</label>
                </div>
                <div class="form-check form-check-inline">
                <input style="font-size: small;" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="F" [(ngModel)]="membre.sexe">
                <label style="font-size: small;" class="form-check-label text-montserrat" for="inlineRadio2">Femme</label>
            </div>
            <div class="d-flex justify-content-between m-0">
                <!-- <div class="form-group col-5 p-0">
                    <label for="nom" class="text-montserrat mt-3">LIEU DE NAISSANCE<span class="text-danger">*</span></label>
                    <input type="text" name="nom" id="nom" class="form-control">
                </div> -->
                <div class="form-group col-12 p-0">
                    <label style="font-size: small;" for="nom" class="text-montserrat m-0">DATE DE NAISSANCE<span class="text-danger">*</span></label>
                    <input style="font-size: small;" type="date" name="nom" id="nom" class="form-control m-0" required [(ngModel)]="membre.dateNaissance" >
                </div>
            </div>
            <label style="font-size: small;" for="nom" class="text-montserrat m-0">PAYS<span class="text-danger">*</span></label>
            <select style="font-size: small;" name="country" #country (change)="onCountrySelected(country.value)" [(ngModel)]="codeCountry" id="nom" class="form-control m-0">
                <option value="+243">RD CONGO</option>
                <option value="+242">CONGO BRAZZA</option>
            </select>
            <label style="font-size: small;" for="nom" class="text-montserrat m-0">TELEPHONE<span class="text-danger">*</span></label>
            <div class="input-group m-0">
                <div class="input-group-prepend">
                  <div style="font-size: small;" class="input-group-text">{{codeCountry}}</div>
                </div>
                <input style="font-size: small;" type="tel" name="fdfd" [(ngModel)]="telephone" maxlength="9" required class="form-control" id="inlineFormInputGroupUsername" placeholder="">
              </div>
            <label style="font-size: small;" for="nom" class="text-montserrat m-0">MAIL</label>
            <input style="font-size: small;" type="email" name="nom" id="nom" [(ngModel)]="membre.email" class="form-control m-0">

            <label style="font-size: small;" for="nom" class="text-montserrat m-0">MOT DE PASSE</label>
            <input style="font-size: small;" type="password" id="nom" class="form-control m-0" required name="password"  [(ngModel)]="membre.login.password">
            <label style="font-size: small;" for="nom" class="text-montserrat m-0">CONFIRM MOT DE PASSE<span class="text-danger">*</span></label>
            <input style="font-size: small;" type="password" id="nom" class="form-control m-0" name="conf"  [(ngModel)]="confirmPassword">
            
            <div class="form-check mt-2">
                <input class="form-check-input" [checked]="isChecked" (change)="isChecked = !isChecked" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label text-montserrat" for="defaultCheck1">
                  J'accepte les <span class="text-primary text-underlined cursor">termes et conditions</span> de la mutualité MLI
                </label>
            </div>
            <button [disabled]="form.invalid || !isChecked" type="submit" class="btn text-white mt-3 rounded-pill p-2 col-6 offset-3 shadow main-color cursor">Enregistrer</button>
        </form>
    </div>
</div>