<!-- <app-banner></app-banner> -->
<div class="col-md-8 offset-md-2">
    <div class="row justify-content-start mt-sm-5">
        <div class="col-lg-8 mb-3">
            <div class="text-scout-bold text-main-color d-none d-md-block mt-4 font-weight-bold p-0 h3 m-0 text-center">BIENVENU(E)</div>
            <div class="text-scout-bold text-main-color  d-none d-md-block font-weight-bold h5 m-0 text-center">DANS VOTRE PLATEFORME DE FINANCEMENT PARTICIPATIF</div>
            <div class="text-circular-bold  w-75 mx-auto  d-none d-md-block rounded font-weight-bold main-color h3 p-2 m-0 text-center">MUTUALITE LIKELEMBA INTELLIGENT MLI/ASBL</div>

            <div class="text-scout-bold d-block d-md-none mt-5 font-weight-bold p-0 h6 m-0 text-center">BIENVENU(E)</div>
            <div class="text-scout-bold text-main-color d-block d-md-none font-weight-bold h6 m-0 text-center">DANS VOTRE PLATEFORME DE FINANCEMENT PARTICIPATIF</div>
            <div class="text-circular-bold  w-75 mx-auto d-block d-md-none rounded font-weight-bold main-color h6 p-2 m-0 text-center">MUTUALITE LIKELEMBA INTELLIGENT MLI/ASBL</div>

            <div class="text-center h4 d-none d-md-block text-circular-bold mx-auto my-2 p-2 font-weight-bold" style=" font-size: 2em; text-align: center;"><div>Nous travaillons ensemble,</div> <div class="bg bg-success rounded text-white p-1 text-uppercase">Nous gagnons ensemble</div></div>
            <div class="text-center h6 d-block d-md-none text-circular-bold mx-auto my-2 p-2 font-weight-bold" style=" font-size: 1.3em; text-align: center;"><div>Nous travaillons ensemble,</div> <div class="bg bg-success rounded text-white p-1 text-uppercase">Nous gagnons ensemble</div></div>

            <div class=" text-cambay  d-none d-md-block   mt-3" style="font-size: 1.4em;">
                <div class="font-weight-bold text-cambay-bold text-uppercase mb-3">
                    Vous voulez autofinancer vos projets?
                </div> 
                lancez de plus belle des manières les activités 
                qui vous tiennent à cœur et assurez  dès à présent 
                votre bien-être et celui de vos proches, sans le stress du remboursement. 
            </div>
            <div class="text-cambay d-block d-md-none mt-3" style="font-size: 1em;">
                <div class="font-weight-bold text-cambay-bold text-uppercase mb-1">
                    Vous voulez autofinancer vos projets?
                </div> 
                lancez de plus belle des manières les activités 
                qui vous tiennent à cœur et assurez  dès à présent 
                votre bien-être et celui de vos proches, sans le stress du remboursement. 
            </div>
            <div class=" text-cambay d-none d-md-block   mt-3" style="font-size: 1.4em;">
                <div class="font-weight-bold text-cambay-bold text-uppercase mb-3">
                    L'adhésion? Rien de plus simple :)
                </div>
                Les critères d'adhésion dans MLI ne sont pas assez stricts. 
                Chacun s'inscrit librement en fonction de ses revenus. 
                Nous sommes tellement efficaces que nous formons 
                une famille proche et nous gagnons ensemble. <br>
                Vous pouvez volontairement devenir notre partisan et 
                bénéficier des avantages de MLI/ASBL. Utilisez  vigoureusement 
                le pouvoir du marketing relationnel pour partager cette expérience  
                avec vos proches. Partagez-leur vos liens, enregistrez-les, 
                faites accroître votre réseau et gagnez du cash.
            </div>

            <div class=" text-cambay d-block d-md-none   mt-3" style="font-size: 1em;">
                <div class="font-weight-bold text-cambay-bold text-uppercase mb-3">
                    L'adhésion? Rien de plus simple :)
                </div>
                Les critères d'adhésion dans MLI ne sont pas assez stricts. 
                Chacun s'inscrit librement en fonction de ses revenus. 
                Nous sommes tellement efficaces que nous formons 
                une famille proche et nous gagnons ensemble. <br>
                Vous pouvez volontairement devenir notre partisan et 
                bénéficier des avantages de MLI/ASBL. Utilisez  vigoureusement 
                le pouvoir du marketing relationnel pour partager cette expérience  
                avec vos proches. Partagez-leur vos liens, enregistrez-les, 
                faites accroître votre réseau et gagnez du cash.
            </div>

            <span *ngIf="!isConnected" [routerLink]="['/login']" class="d-block text-center mt-1 text-montserrat mb-2">Déjà membre? <br> <span class="text-white btn p-2 col-6 rounded-pill text-underlined" style="background-color: #4d1572;">Se connecter</span></span>
            <div *ngIf="isConnected" [routerLink]="['/myaccount']"  class="btn p-2 col-6 rounded-pill mx-auto d-block  text-white text-montserrat-bold" style="background-color: #4d1572;">Mon compte</div>
        </div>
        <div class="col-lg-4 m-0 d-md-flex position-relative flex-column">
            <div class="col-12 d-lg-flex flex-column justify-content-around">
                <img src="assets/images/logo.png" class="d-inline-block w-100" alt="">
                <img src="assets/images/logo.png" class="d-none d-lg-block w-100" alt="">
            </div>
        </div>

        <div class="h4 text-center text-cambay col-12 mt-5 font-weight-bold text-main-color">Ont déjà adhéré</div>
        <div class="col-12">
            <div class="rounded-circle mb-2 mx-auto d-flex justify-content-center flex-column main-color text-white text-nexa-bold text-center" style="width: 7em; height: 7em; border-radius: 50%; font-size: 1.4em;">
                <span class="d-block text-center">{{nombre}}</span>
            </div>
        </div>

        <!-- <img src="assets/images/logo.png" class="d-inline-block w-100" alt=""> -->

        <div class="h2 d-none d-md-block text-center text-circular-bold col-12 mt-5 font-weight-bold text-main-color">COMMENT CA MARCHE ?</div>
        <div class="h5 d-block d-md-none text-center text-circular-bold col-12 mt-5 font-weight-bold text-main-color">COMMENT CA MARCHE ?</div>
        
        <div class="text-cambay text-center d-none d-md-block mx-auto mt-3 col-12" style="font-size: 1.4em;">
            Likelemba intelligent réside concrètement 
            sur trois théories fondamentales à savoir :
        </div>

        <div class="text-cambay d-block d-md-none mx-auto mt-3 col-12" style="font-size: 1em;">
            Likelemba intelligent réside concrètement 
            sur trois théories fondamentales à savoir :
        </div>

        <div class="d-md-flex justify-content-around col-12 p-3">
            <div class="col-md-4">
                <div class="rounded-circle mb-2 mx-auto d-flex justify-content-center flex-column bg bg-primary text-white text-nexa-bold text-center" style="width: 3em; height: 3em; border-radius: 50%;">
                    <span class="d-block text-center">1</span>
                </div>
                <p class="text-center text-cambay-bold" style="font-size: 1.4em;">
                    Le partage non remboursable
                </p>
            </div>
            <div class="col-md-4">
                <div class="rounded-circle mb-2 mx-auto d-flex justify-content-center flex-column bg bg-success text-white text-nexa-bold text-center" style="width: 3em; height: 3em; border-radius: 50%;">
                    <span class="d-block text-center">2</span>
                </div>
                <p class="text-center text-cambay-bold" style="font-size: 1.4em;">
                    La règle de 3 (donation, parrainage et rotation)
                </p>
            </div>
            <div class="col-md-4">
                <div class="rounded-circle mb-2 mx-auto d-flex justify-content-center flex-column bg bg-danger text-white text-nexa-bold text-center" style="width: 3em; height: 3em; border-radius: 50%;">
                    <span class="d-block text-center">3</span>
                </div>
                <p class="text-center text-cambay-bold" style="font-size: 1.4em;">
                    L’intégration du cash
                </p>
            </div>
        </div>

        <div class="h2 d-none d-md-block text-center text-circular-bold col-12 mt-5 font-weight-bold text-main-color">PARCOURS DANS LE SYSTEME</div>
        <div class="h5 d-block d-md-none text-center text-circular-bold col-12 mt-5 font-weight-bold text-main-color">PARCOURS DANS LE SYSTEME</div>

        <div class="row d-sm-flex flex-wrap justify-content-center p-3">
            <div class="col-md-5 mx-3 mt-3 shadow-sm p-3 d-flex flex-column justify-content-center card bg bg-white">
                <span class="h3 text-center text-scout-bold d-block">1. Inscription</span>
                <div class="p-3">
                    <img src="assets/images/img7.png" class="w-100" alt="">
                </div>
                <p class="text-center text-cambay">
                    Dès que vous décidez d’adhérer dans le MLI, 
                    vous serez parrainé par une personne étant déjà membre 
                    dans la matrice. Cette dernière est d’office votre 
                    parrain (coach). L'inscription est pleinement 
                    gratuite et toujours en ligne. Il suffit d’accéder à 
                    la plateforme via un lien de parrainage de la personne 
                    qui vous a invité (parrain). Cliquez sur ce lien  qu’elle 
                    vous envoie pour remplir dûment le formulaire. 
                </p>
            </div>

            <div class="col-md-5 mx-3 mt-3 shadow-sm p-3 d-flex flex-column justify-content-center card bg bg-white">
                <span class="h3 text-center text-scout-bold d-block">2. Parrainage</span>
                <div class="p-3">
                    <img src="assets/images/parrainage.png" class="w-100" alt="">
                </div>
                <p class="text-center text-cambay">
                    Tous les partisans, membres de la mutualité 
                    Likelemba intelligent MLI/ASBL, ont le devoir 
                    d’inviter leurs proches pour y adhérer volontairement 
                    par l’entremise des liens de parrainage. Ces proches 
                    nouvellement inscrits deviennent carrément leurs filleuls 
                    pour enfin élargir le réseau. Chaque membre ne peut 
                    parrainer que 5 filleuls par arbre de parrainage.
                </p>
            </div>
    
            <div id="partage-non-rembousable" class="col-md-5 mx-3 mt-3 shadow-sm p-3 d-flex flex-column justify-content-center card bg bg-white">
                <span class="h3 text-center text-scout-bold d-block">3. Les partages non remboursables</span>
                <div class="p-3">
                    <img src="assets/images/remboursement.png" class="w-100 border" alt="">
                </div>
                <p class="text-center text-cambay">
                    Tous les partisans ont l’obligation de s’entraider et 
                    de partager pour atteindre l’autonomie financière.
                    Les membres de la mutualité à travers les donations de leurs filleuls, 
                    gagnent de l'argent dans leurs comptes et ce dernier n'est pas remboursable.
                </p>
            </div>
    
            
    
            <div class="col-md-5 mx-3 mt-3 shadow-sm p-3 d-flex flex-column justify-content-center card bg bg-white">
                <span class="h3 text-center text-scout-bold d-block">4. Donation</span>
                <div class="p-3">
                    <img src="assets/images/donation.png" class="w-100" alt="">
                </div>
                <p class="text-center text-cambay">
                    Une fois parrainé, le nouvel adhérent (filleul) doit offrir un 
                    don à la mutualité. Ledit don lui donne la possibilité d'activer 
                    son compte dans notre plateforme et lui offre l’accès spontanée 
                    d’inviter lui aussi ses proches dans son réseau enfin d’en élargir 
                    et accumuler des revenus. 
                </p>
            </div>
    
            <div class="col-md-5 mx-3 mt-3 shadow-sm p-3 d-flex flex-column justify-content-center card bg bg-white">
                <span class="h3 text-center text-scout-bold d-block">5. Partage de gain</span>
                <div class="p-3">
                    <img src="assets/images/img6.png" class="w-100" alt="">
                </div>
                <p class="text-center text-cambay">
                    <span class="h5 text-center text-scout-bold d-block">A. Le compte MLI</span>
                    A chaque inscription, tout membre possède son compte I-Likelemba. 
                    Ce compte lui permet de suivre à la lettre l'état d’avancement 
                    financier de son réseau en temps utile et d'entreprendre d'autres 
                    opérations liées aux retraits de ses revenus. 
                </p>
                <p class="text-center text-cambay">
                    <span class="h5 text-center text-scout-bold d-block">B. Activation compte</span>
                    Avant  d’entamer le parrainage, le nouveau filleul doit faire 
                    le dépôt de sa donation auprès d'une agence MLI. Le montant à 
                    déposer émane de la branche du parrainage à laquelle il souscrit. 
                </p>
                <p class="text-center text-cambay">
                    <span class="h5 text-center text-scout-bold d-block">C. Intégration du cash</span>
                    C’est le payement automatique dans le  I.Likelemba. 
                    Celui-ci se déclenche  seulement au moment où les cinq 
                    nouveaux filleuls activent leurs comptes c'est-à-dire  
                    lorsque chacun d’eux dépose son don. <br>
                    <img src="assets/images/tableau.png" class="d-block w-100" alt=""> <br>
                    <span class="font-weight-bold text-scout-bold ">Le parrain</span><br>
                    Le compte du parrain est accrédité de 5 fois les 40% du montant de parrainage. <br>
                    <span class="font-weight-bold text-scout-bold ">Le grand-parrain</span><br>
                    Le compte du grand-parrain est accrédité de 5 fois les 14% du montant de parrainage.  <br>
                    <span class="font-weight-bold text-scout-bold ">L'arrière grand-parrain</span><br>
                    Le compte de l’arrière grand-parrain est accrédité de 5 fois les 9% du montant de parrainage. 
                </p>
                <p class="text-center text-cambay">
                    <span class="h5 text-center text-scout-bold d-block">D. Paiement</span>
                    Tout partisan, ayant déjà accumulé des revenus dans son 
                    compte I.Likelemba, peut à tout moment se rendre dans l’un 
                    des guichets de la mutualité Likelemba intelligent/ASBL, le 
                    plus proche, afin d'effectuer ses retraits. 
                </p>
            </div>
            <div class="col-md-5 mx-3 mt-3 shadow-sm p-3 d-flex flex-column justify-content-start align-self card bg bg-white">
                <span class="h3 text-center text-scout-bold d-block">5. La rotation</span>
                <div class="p-3">
                    <img src="assets/images/img6.png" class="w-100" alt="">
                </div>
                
                <p class="text-center text-cambay">
                    C’est le fait d’avoir plusieurs comptes dans le système 
                    et qui s’accumulent. C’est le prospectif d’Anticipation-Appropriation-Action. 
                    Comme dans la ristourne traditionnelle, une personne peut avoir plusieurs 
                    comptes à lui seul. 
                </p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>