a{
    text-align: center;
}

.box{
    height: 300px;
}

.list-group-item{
    cursor: pointer;
}

.box-content{
    /* background-image: url(../../../../../assets/images/bg1.png);
    background-size: contain; */
    background: none;
}