
<div class="card">
    <div class="card-header text-white"  style="background-color: #010c42; color: white;">
        <h1>{{arbre.description}}</h1>
        <span class="h7 d-block">ID: {{arbre.code}}</span>
        <span class="h7 d-block">Mise: {{arbre.montant}} {{arbre.devise.code}} ---- GoldCash: {{arbre.montant * 10}} {{arbre.devise.code}}</span>
        <span class="h7">Montant total gagné: {{arbre | montantTotalArbre}} {{arbre.devise.code}}</span>
    </div>
    <div class="card-body bg-transparent box-content">
        <div class="col-12 d-flex overflow-auto bg-transparent box-content">
            <div class=" card col-md-4 col-11 mr-1 px-0 rounded-0 shadow box-content">
                <div class="card-header bg-info text-white py-0">
                    <h3 class="p-0">1rst Génération</h3>
                    <h5 class="p-0">Montant Gagné: {{arbre.g1 | montantGeneration:arbre.partage.g1:arbre.montant}} {{arbre.devise.code}}</h5>
                </div>
                <div class="card-body box-content">
                    <div class="list-group overflow-auto box">
                        <div class="card mb-2 bg-light list-group-item rounded-0" *ngFor="let membre of arbre.g1" (click)="onFilleul1Selected(membre.id)">
                            <div class="card-body p-0">
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <div class="card-text">
                                        <div class="font-weight-bold">{{membre.nom}} {{membre.postnom}} {{membre.prenom}}</div>
                                        <div>Tél: <span class="">{{membre.telephone}}</span></div>
                                        <!-- <span href="#" class=" badge text-center badge-success">{{membre.statut | statutMembre}}</span> -->
                                    </div>
                                    <!-- <div class="d-flex align-self">
                                        <button mat-raised-button color="primary" class="ml-auto btn-sm ml-auto card-link rounded-0">Contacter</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" card col-md-4 col-11 mr-1 px-0 rounded-0 shadow">
                <div class="card-header bg-warning text-white py-0">
                    <h3 class="p-0">2ième Génération</h3>
                    <h5 class="p-0">Montant Gagné: {{arbre.g2 | montantGeneration:arbre.partage.g2:arbre.montant}} {{arbre.devise.code}}</h5>
                </div>
                <div class="card-body">
                    <div class="list-group overflow-auto box">
                        <div class="card mb-2 bg-light list-group-item rounded-0" *ngFor="let membre of g2" (click)="onFilleul2Selected(membre.id)">
                            <div class="card-body p-0">
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <div class="card-text">
                                        <div class="font-weight-bold">{{membre.nom}} {{membre.postnom}} {{membre.prenom}}</div>
                                        <div>Tél: <span class="">{{membre.telephone}}</span></div>
                                        <!-- <span href="#" class=" badge text-center badge-success">{{membre.statut | statutMembre}}</span> -->
                                    </div>
                                    <!-- <div class="d-flex align-self">
                                        <button mat-raised-button color="primary" class="ml-auto btn-sm ml-auto card-link rounded-0">Contacter</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class=" card col-md-4 col-11 mr-1 px-0 rounded-0 shadow">
                <div class="card-header bg-danger text-white py-0">
                    <h3 class="p-0">3ième Génération</h3>
                    <h5 class="p-0">Montant Gagné: {{arbre.g3 | montantGeneration:arbre.partage.g3:arbre.montant}} {{arbre.devise.code}}</h5>
                </div>
                <div class="card-body">
                    <div class="list-group overflow-auto box">
                        <div class="card mb-2 bg-light list-group-item rounded-0" *ngFor="let membre of g3">
                            <div class="card-body p-0">
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <div class="card-text">
                                        <div class="font-weight-bold">{{membre.nom}} {{membre.postnom}} {{membre.prenom}}</div>
                                        <div>Tél: <span class="">{{membre.telephone}}</span></div>
                                        <!-- <span href="#" class=" badge text-center badge-success">{{membre.statut | statutMembre}}</span> -->
                                    </div>
                                    <!-- <div class="d-flex align-self">
                                        <button mat-raised-button color="primary" class="ml-auto btn-sm ml-auto card-link rounded-0">Contacter</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>