<div class="col-sm-12">
    <span class="text-center d-block h5 font-weight-bold">
        <div class="spinner-border" role="status"></div>
    </span>
    <p class="col-sm-12 text-dark text-montserrat">{{message}}</p>
</div>