<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport 
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="toolbar mat-elevation-z6" id="app-title">i-LIKELEMBA</mat-toolbar>
  
      <div class="col-12 d-flex flex-column pt-3 mat-elevation-z6" >
        <div class=" d-flex mx-auto h-50 w-25">
          <img src="assets/images/logo.png" alt="logo">
        </div>
  
        <div class="w-100 mr-auto mt-1 mb-1">
          <div class="h5 user-username text-center mt-3">{{userConnected.noms}} </div>
          <div class="h5 user-username text-center mt-3">{{userConnected.code}} </div>
          <br>
          <div class="h5 user-username text-center mt-3">{{userConnected.approUSD}} USD</div>
          <div class="h5 user-username text-center mt-3">{{userConnected.approCDF}} CDF</div>
        </div>
      </div>
  
      <div class="container-fluid position-relative">
        <mat-nav-list>
          <a mat-list-item *ngIf="service.userConnected.role == 'agent'" class="menu-item" routerLink="search" ><i class="fa fa-home mr-3"></i>Activation</a>
          <a mat-list-item *ngIf="service.userConnected.role == 'agent'" class="menu-item" routerLink="appro" ><i class="fa fa-home mr-3"></i>Approvisionnement</a>
          <a mat-list-item *ngIf="service.userConnected.role == 'admin'" class="menu-item" routerLink="appro-agence" ><i class="fa fa-home mr-3"></i>Approvisionnement Agent</a>
          <a mat-list-item *ngIf="service.userConnected.role == 'admin'" class="menu-item" routerLink="change-role" ><i class="fa fa-home mr-3"></i>Changer Role Membre</a>
          <a mat-list-item class="menu-item" routerLink="rapport-appro" ><i class="fa fa-home mr-3"></i>Rapport Appro</a>
          <a mat-list-item *ngIf="service.userConnected.role == 'agent'" class="menu-item" routerLink="paiement" ><i class="fa fa-home mr-3"></i>Paiement</a>
          <a mat-list-item class="menu-item" routerLink="rapport" ><i class="fa fa-child mr-3"></i>Rapport d'activité</a>
          <a mat-list-item *ngIf="service.userConnected.role != 'agent'" class="menu-item" routerLink="dashboard" ><i class="fa fa-child mr-3"></i>Dashboard</a>
          <!-- <a mat-list-item class="menu-item" href="#" ><i class="fa fa-credit-card mr-3" aria-hidden="true" ></i>Payements</a> -->
        </mat-nav-list>
        
        <div class="dropdown-divider bg-dark mb-0"></div>
        <mat-nav-list>
              <a mat-list-item (click)="disconnect()"  class=" menu-item nav-link"><i class="fa fa-unlock mr-3"></i>Deconnexion</a>
        </mat-nav-list>
  
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="toolbar-breadcumb toolbar">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </mat-icon>
        </button>
        <span id="app-title">i-LIKELEMBA</span>
      </mat-toolbar>
      <!-- Add Content Here -->
      <div class="body">
        <ng-content class="p-0"></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>