<div class="col-sm-12">
    <span class="text-center h5 d-block font-weight-bold"><i class="fa fa-question-circle text-info p-0 m-0"></i></span>
    <p class="col-sm-12">{{message}}</p>
    <div class="d-flex justify-content-around">
        <button class="btn btn-sm btn-success rounded-0"  [mat-dialog-close]="'OK'">Oui</button>
        <button class="btn btn-sm btn-danger rounded-0" [mat-dialog-close]="'KO'">Non</button>
    </div>
</div>