<div class="col-sm-12">
    <span class="text-center h5 d-block font-weight-bold"><i class="fa fa-info-circle text-info"></i></span>
    <p class="col-sm-12">{{message}}</p>
    <div class="d-flex justify-content-around">
        <button class="btn btn-primary btn-sm rounded-0" mat-dialog-close>OK</button>
    </div>
</div>