<div class="col-12 body">
    <h1 class="mt-4 text-center p-3 mb-0" style="background-color: #010c42; color: white;">RAPPORT APPROVISIONNEMENT</h1>
    <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-inline p-0  pb-0 my-2">
        <label for="" class="ml-2">Date Debut</label>
        <input type="date" name="opopo" id="" [(ngModel)]="data.debut" class="form-control form-control-sm col-3 ml-2 rounded-0">
        <label for="" class="ml-2">Date fin</label>  
        <input type="date" name="opop" id="" [(ngModel)]="data.fin" class="form-control form-control-sm col-3 ml-2 rounded-0">
        <select *ngIf="service.userConnected.role == 'admin'" [(ngModel)]="data.type" name="kjlkk" id="" class="form-control form-control-sm col-sm-2 ml-2 rounded-0">
            <option value="agence">AGENCE</option>
            <option value="manager">MANAGER</option>
        </select>
        <button class="btn btn-primary rounded-0 btn-sm ml-4" type="submit" id="button-addon2">Rechercher</button>        
    </form>
    <div class="font-weight-bold mt-2">
        <span class="d-block">TOTAL CDF: {{totalCDF()}}</span>
        <span class="d-block">TOTAL USD: {{totalUSD()}}</span>
    </div>

    <div class="input-group mb-0 col-12 p-0 mt-3 mb-2">
        <input type="text" name="motclef" [(ngModel)]="data.motclef" class="form-control rounded-0 form-control-sm" placeholder="Veuillez taper le mot clé à rechercher" aria-label="Recipient's username" aria-describedby="button-addon2">
      </div>
    <table class="table table-hover table-sm mt-0 pt-0">
        <thead class="thead-dark">
            <th>NOMS</th>
            <th>TELEPHONE / CODE</th>
            <th>MONTANT USD</th>
            <th>MONTANT CDF</th>
            <th>DATE</th>
            <th>AGENT</th>
        </thead>
        <tbody>
            <tr *ngFor="let journal of filterData(); index as i" class="">
                <td *ngIf="journal.destinateur">{{journal.destinateur.nom}} {{journal.destinateur.postnom}} {{journal.destinateur.prenom}}</td>
                <td *ngIf="journal.agentDestinateur">{{journal.agentDestinateur.noms}}</td>
                <td *ngIf="journal.destinateur">{{journal.destinateur.telephone}}</td>
                <td *ngIf="journal.agentDestinateur">{{journal.agentDestinateur.code}}</td>
                <td>{{journal.montantusd}}</td>
                <td>{{journal.montantcdf}}</td>
                <td>{{journal.dateCreat | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{journal.agent.noms}}</td>
            </tr>
        </tbody>
    </table>
</div>