<div class="col-sm-12 m-0 p-0 bg bg-light">
    <div class="col-sm-6 offset-sm-3 p-3 h-75">
        <span class="text-montserrat-bold h5 d-block">CREATION BRANCHE</span>
        <hr class=" mr-0" style="height: 3px; background-color: #010c42; width: 90%;">
        <form (ngSubmit)="onSubmit()" #form="ngForm">
            <label for="nom" class="text-montserrat mt-3">N° TELEPHONE<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="id" name="nom" id="nom" class="form-control">
            <button type="button" (click)="search()"  mat-raised-button color="primary" class="mt-1"> Rechercher</button>
            <select *ngIf="login" name="gbbb b b bgbg" id="dev" class="form-control mt-2" [(ngModel)]="login.role">
                <option value="membre">MEMBRE</option>
                <option value="manager">MANAGER</option>
            </select>
            <button *ngIf="login" type="submit" class="btn text-white mt-3 rounded-pill p-2 col-6 offset-3 shadow main-color cursor">Enregistrer</button>
        </form>
    </div>
</div>