<div class="col-sm-12 p-0 h-100 body">
    <div class="col-sm-12 d-flex my-2 p-0 pb-1 overflow-auto">
        <app-arbre-box *ngFor="let arbre of arbres" class=" col-11 col-md-4" [arbre]="arbre" (click)="showArbre(arbre)"></app-arbre-box>
    </div>
    <app-branche-box [arbre]="currentArbre" class="mt-1"></app-branche-box>
</div>