.body{
    background-image: url(../../../../assets/images/banner_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.body-lg{
    background-image: url(../../../../assets/images/banner_bg_lg.png);
    background-size: cover;
    background-repeat: no-repeat;
}