<!-- <div class="col-sm-12 d-md-none w-100 body p-2 m-0 shadow" data-aos="fade-up" data-aos-duration="3000">
    <div class="col-12">
        <div class="col-sm-9">
            <h1 class="text-montserrat-bold shadow" style="font-family: 'Montserrat Bold'; font-size: 1.5em; color: #010c42; margin-top: 1em;">
                Autofinancier vos projets grâce au marketing du réseau
            </h1>

            <span class="text-montserrat text-danger h5 font-weight-bold" style="font-family: 'Montserrat Bold'; margin-bottom: 0px; font-size: 12px;">
                Plus vous amaner des personnes dans votre réseau
            </span>
            <span class="text-montserrat text-danger h5 font-weight-bold" style="font-family: 'Montserrat Bold'; margin-bottom: 0px; font-size: 12px;">
                Plus vous gagner
            </span>
            <div *ngIf="!isConnected" class="btn btn-danger rounded-0 col-6" style="margin-top: 0.5em;" [routerLink]="['/login']" >Se connecter</div>
        </div>
    </div>
</div>

<div class="col-sm-12 d-none d-md-flex w-100 body-lg p-3 m-0 shadow">
    <div class="col-12">
        <div class="col-sm-9">
            <h1 class="text-montserrat-bold mt-5" style="font-family: 'Montserrat Bold'; font-size: 2.5em; color: #010c42;">
                Autofinancier vos projets grâce au marketing du réseau
            </h1>

            <h1 class="text-montserrat-bold text-danger" style="font-family: 'Montserrat Bold'; font-size: 1.5em; margin-top: 1em; margin-bottom: 0px;">
                Plus vous amaner des personnes dans votre réseau
            </h1>
            <h1 class="text-montserrat-bold mt-1 text-danger" style="font-family: 'Montserrat Bold'; font-size: 1.5em; margin-top: 1em; margin-bottom: 0px;">
                Plus vous gagner
            </h1>

            <div *ngIf="!isConnected" class="btn btn-danger rounded-0 col-4" [routerLink]="['/login']" >Se connecter</div>
        </div>
    </div>
</div> -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/bg2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/img5.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img  src="assets/images/img7.png" class="d-block w-100" alt="...">
      </div>
    </div>
</div>