<div class="col-md-12 m-0 p-0 bg bg-light">
    <div class="col-md-8 offset-md-2 p-3 h-75">
        <span class="text-montserrat-bold h5 d-block">ACTIVATION MEMBRE</span>
        <hr class=" mr-0" style="height: 3px; background-color: #010c42; width: 90%;">
        <div class="">
            <label for="nodfdfdm" style="font-size: small;" class="text-montserrat">NOMS/TELEPHONE<span class="text-danger">*</span></label>
            <div class="d-md-flex">
                <input type="text" [(ngModel)]="motclef" placeholder="ex: +24381000000" name="gfbgbdsff" maxlength="18" id="nom" class="form-control col-md-8">
                <button (click)="searchParrainages()" type="submit" class="btn text-montserrat text-white rounded-pill p-2 col-md-4 col-sm-3 ml-md-2 mt-2  mt-md-0 shadow main-color cursor">RECHERCHE</button>
            </div>
        </div>

        <div class="mt-2">
            <table class="table table-sm table-borderless text-montserrat">
                <thead class="text-white " style="height: 3px; background-color: #010c42; width: 90%;">
                    <th>NOMS</th>
                    <th>TELEPHONE</th>
                    <th>BRANCHE</th>
                    <th>MONTANT</th>
                    <th>DATE</th>
                </thead>
                <tbody>
                    <tr class="text-montserrat" *ngFor="let parrainage of filterData(); index as i" class="">
                        <td>{{parrainage.membre.nom}} {{parrainage.membre.postnom}} {{parrainage.membre.prenom}}</td>
                        <td>{{parrainage.membre.telephone}}</td>
                        <td>{{parrainage.fkArbre.description}}</td>
                        <td>{{parrainage.fkArbre.montant}} {{parrainage.fkArbre.devise.code}}</td>
                        <td>{{parrainage.dateCreat | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>
                            <button mat-raised-button class="rounded-0" color="primary" (click)="activer(parrainage)"><i class="fa fa-eye"></i> Activer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>