<div class="col-sm-6 offset-sm-3 p-3 h-75">
    <span class="text-montserrat-bold h5 d-block">CHANGEMENT MOT DE PASSE</span>
    <hr class=" mr-0" style="height: 3px; background-color: #010c42; width: 90%;">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <label for="nom" class="text-montserrat mt-3">ANCIEN MOT DE PASSE<span class="text-danger">*</span></label>
        <input type="password" [(ngModel)]="ancien" name="nom" id="nom" class="form-control">
        <label for="nom" class="text-montserrat mt-3">NOUVEAU MOT DE PASSE<span class="text-danger">*</span></label>
        <input type="password" [(ngModel)]="login.password" name="nokjkm" id="nojkjkm" class="form-control">
        <label for="nom" class="text-montserrat mt-3">CONFIRMER NOUVEAU MOT DE PASSE<span class="text-danger">*</span></label>
        <input type="password" [(ngModel)]="confirm" name="nojkjkm" id="njkjkom" class="form-control">
        <button type="submit" class="btn text-white mt-3 rounded-pill p-2 col-6 offset-3 shadow main-color cursor">Enregistrer</button>
    </form>
</div>