<div class="p-3" style="font-size: 1.1em;">
    <div id="whoarewe" class=" rounded p-3 col-sm-12">
        <h1 class="font-weight-bold">Qui sommes-nous?</h1>
        <hr>
        <div class="d-flex flex-wrap">
            <div class="col-sm-3 d-flex justify-content-center">
                <img src="assets/images/logo.png" alt="" class="">
            </div>
            <p class="text-justify col-sm-8 pt-1 pt-sm-0">
                La mutualité LIKELEMBA INTELLIGENT (MLI) en sigle, est une ASBL basée sur le partage et entraide mutuelle. <br>
                Son siège social est établi dans la ville province de Kinshasa, sur l'avenue Mushie, N° 04 Camp Lufungula, dans la commune dec LINGWALA.
                Elle Couvre toute l'étendue de la République Démocratique du Congo.
            </p>
            
        </div>

        <h1 class="font-weight-bold">Nos buts</h1>
        <hr>
        <ul>
            <li class="text-justify">Promouvoir l'entreprenariat;</li>
            <li class="text-justify">Créer un grand centre de formation professionnelle dans le domaine des nouvelles technologies de l'information et de la communication (NTIC en sigle);</li>
            <li class="text-justify">Aider les communautés à lutter contre la pauvreté en sensibilisant à une gestion optimale des finances personnelles;</li>
            <li class="text-justify">Sensibiliser, conscientiser et initier la jeunesse dans la création de projets d'autofinancement durable.</li>
        </ul>

        <h1 class="font-weight-bold">Objet Social</h1>
        <hr>
        <ul>
            <li class="text-justify">Mener des actions de prévoyance sociale, de solidarité et d'entraide mutuelle à travers des systèmes informatiques novatrices. L'idée est de contribuer à l'améloration de conditions de vie des communautés, afin d'atteindre l'independance financière.</li>
            <li class="text-justify">Moderniser le domaine des créations d'entreprise, du physique au numerique, par le NTIC, pour le changement de nos structures memntales et de l'éducation financière.</li>
        </ul>

        <h1 class="font-weight-bold">Moyen d'actions</h1>
        <hr>
        <ul>
            <li class="text-justify">
                L'organisation des activités, des formations et manifestations pouvant aider à la promotion de l'entrepreunariat, dec l'invention et de l'innovation;
            </li>
            <li class="text-justify">
                Développement des applications informatiques pour la promotion de l'entrepreunariat
            </li>
            <li class="text-justify">
                Diffusions et Développement des réseaux de marketing relationnel pour la promotion de l'entrepreunariat et l'épanouissement personnel des membres etc.
            </li>
        </ul>

        <h1 class="font-weight-bold">Adhésion des membres</h1>
        <hr>
        <ul>
            <li class="text-justify">Manifester librement l'intention d'adhérer en s'inscrivant suur une fiche d'adhésion dûment rempli en dure ou en ligne à travers la plate-forme <a href="www.likelemba-intelligent.com">LIKELEMBA INTELLIGENT</a></li>
            <li class="text-justify">
                Être parrainé par une personne étant déjà membre de la MLI-ASBL;
            </li>
            <li class="text-justify">
                Etre intègre, honnête et respectueux. Être accepté par l'assemblée générale. Avoir des projets, des ambitions, des activités d'entrepreunariat dans le domaine du Développement
            </li>
        </ul>
    </div>
    <div class="footer d-sm-flex text-white p-3">
        <div class="col-sm-4">
            <h4 class="font-weight-bold mt-2">NOS SERVICES</h4>
            <hr class="bg bg-white m-0 p-0 d-none d-sm-block ">
            <ul class="list-group">
                <li class="list-group-item bg bg-transparent border-0">Formations</li>
                <li class="list-group-item bg bg-transparent border-0">Marketing relationnel</li>
                <li class="list-group-item bg bg-transparent border-0">Education financière</li>
                <li class="list-group-item bg bg-transparent border-0">Management de réseaux</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h4 class="font-weight-bold mt-2">NOS CONTACTS</h4>
            <hr class="bg bg-white m-0 p-0 d-none d-sm-block">
            <ul class="list-group">
                <li class="list-group-item bg bg-transparent border-0">Didier Besongo (PCA): +243903540549</li>
                <li class="list-group-item bg bg-transparent border-0">Wetu LUKUSA (Coordon): +243810388845</li>
                <li class="list-group-item bg bg-transparent border-0">Cynthia KIHALU (Gestionnaire): +243815883466                </li>
            </ul>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>
