<div class="col-12 d-flex justify-content-center h-100 body p-0 m-0">
    <div class="col-10 col-sm-6 h-50 rounded align-middle box position-relative shadow-lg p-0 m-0">
        <h1 class="text-center mt-3">Se connecter</h1>
        <form (ngSubmit)="onSubmit()" #form="ngForm" class="d-flex justify-content-center">
            <div class="p-0">
                <hr class="bg bg-light mt-0">
                <input type="text" name="username" class="col-12 field p-2 mt-3" matInput placeholder="Nom d'utilisateur" [(ngModel)]="data.username">
                <input type="password" name="password" class="col-12 field p-2 mt-2" matInput placeholder="Mot de passe" [(ngModel)]="data.password">
                <button class="col-12 btn-connect rounded-0 mt-4" mat-raised-button color="primary">Conexion</button>
                <div class="mt-2 h6 text-center text-white" *ngIf="waiting">Connexion en cours ...</div>
            </div>
        </form>
    </div>
</div>