<div class="col-sm-12 m-0 main-color p-3">
    <span class="d-block h5 text-center text-montserrat-bold">PAIEMENT</span>
    <div class="col-sm-12 text-montserrat-bold">
        <span class="d-block h6">Membre :{{paiement.membre.nom}} {{paiement.membre.postnom}} {{paiement.membre.prenom}}</span>
        <span class="d-block h6">ID :{{paiement.membre.id}}</span>
        <br>
        <span class="d-block">Montant CDF: {{paiement.montantCDF}}</span>
        <span class="d-block">Montant USD: {{paiement.montantUSD}}</span>
        <span class="d-block">Date demande: {{paiement.dateDemande | date:'dd/MM/yyyy'}}</span>
        <span class="d-block">Date paiement: {{paiement.datePaiement | date:'dd/MM/yyyy'}}</span>
    </div>

    <div class="d-flex mt-3">
        <div class="btn btn-info mx-3 btn-sm" *ngIf="!paiement.statut" (click)="valider()">Valider</div>
        <div class="btn btn-info mx-3 btn-sm"*ngIf="!paiement.statut" (click)="annuler()">Annuler</div>
        <div class="btn btn-danger mx-3 btn-sm ml-auto" mat-dialog-close>Fermer</div>
    </div>

</div>