<div class="col-sm-12 p-0 m-0">
    <div class="d-flex overflow-auto">
        <div class="col-11 col-md-9 rounded border p-0 mr-2">
            <div class="col-sm-12 p-2 main-color">
                <span class="h6 text-montserrat-bold">GENERATION 1</span>
                <span class="d-block h7 text-montserrat mt-1 mb-0" style="font-size: small;">Gain par filleul: {{arbre.montant * arbre.partage.g1 | converter}} {{arbre.devise.code}}</span>
                <span class="d-block h7 text-montserrat mb-0" style="font-size: small;">Gain total(x5): {{arbre.partage.g1 * 5 * arbre.montant}}  {{arbre.devise.code}}</span>
                <span class="d-block h7 text-montserrat mb-0" style="font-size: small;">Filleuls: {{arbre.g1 | nombreFilleuls}}</span>
                <span class="d-block h7 text-montserrat mb-0" style="font-size: small;">Filleuls activés: {{arbre.p1 | nombreFilleulsActives}}</span>
                <span class="d-block h7 text-montserrat mb-0" style="font-size: small;">Montant gagné: {{((arbre.p1 | nombreFilleulsActives) * (arbre.montant * arbre.partage.g1)) | converter }} {{arbre.devise.code}}</span>
                <!-- <span class="d-block h7 text-montserrat mb-0" style="font-size: small;">Montant gagné: {{arbre.g1 | montantGeneration:arbre.partage.g1:arbre.montant | converter}} {{arbre.devise.code}}</span> -->
            </div>
        
            <div class="col-sm-12 p-2 overflow-auto" style="height: 300px;">
                <div class="col-sm-12 my-1 p-2 border"  *ngFor="let parrainage of arbre.p1" (click)="onFilleul1Selected(parrainage.membre.id)">
                    <span class="h6 d-block text-montserrat-bold mb-0">{{parrainage.membre.prenom}} {{parrainage.membre.nom}} {{parrainage.membre.postnom}}</span>
                    <span class="text-montserrat" style="font-size: smaller" >Téléphone: {{parrainage.membre.telephone}}</span><br>
                    <span class="text-montserrat" style="font-size: smaller" >Lien parrainage: <br> <span class="text-primary text-underlined">
                        {{url}}?mli={{parrainage.membre.id}}&branche={{arbre.code}}
                    </span></span><br>
                    <span class="text-montserrat" style="font-size: smaller">Statut: {{parrainage.statut? 'ACTIVE': 'NON-ACTIVE' }}</span>
                </div>
            </div>
        </div>
        <div class="col-11 col-md-9 border p-0 mr-2">
            <div class="col-sm-12 p-2 main-color">
                <span class="h6 text-montserrat-bold">GENERATION 2</span>
                <span class="d-block h7 text-montserrat mt-1 mb-0" style="font-size: small;">Gain par filleul: {{arbre.montant * arbre.partage.g2 | converter}} {{arbre.devise.code}}</span>
                <span class="d-block h7 text-montserrat mb-0" style="font-size: small;">Gain total(x25): {{arbre.partage.g2 * 25 * arbre.montant | converter}}  {{arbre.devise.code}}</span>
                <span class="d-block h7 text-montserrat mb-0" style="font-size: small;">Filleuls: {{arbre.g2 | nombreFilleuls}}</span>
                <span class="d-block h7 text-montserrat mb-0" style="font-size: small;">Filleuls activés: {{arbre.p2 | nombreFilleulsActives}}</span>
                <span class="d-block h7 text-montserrat mb-0" style="font-size: small;">Montant gagné: {{((arbre.p2 | nombreFilleulsActives) * (arbre.montant * arbre.partage.g2)) | converter }} {{arbre.devise.code}}</span>
            </div>
        
            <div class="col-sm-12 p-2 overflow-auto" style="height: 300px;">
                <div class="col-sm-12 my-1 p-2 border"  *ngFor="let parrainage of p2" (click)="onFilleul2Selected(parrainage.membre.id)">
                    <span class="h6 d-block text-montserrat-bold mb-0">{{parrainage.membre.prenom}} {{parrainage.membre.nom}} {{parrainage.membre.postnom}}</span>
                    <span class="text-montserrat" style="font-size: smaller" >Téléphone: {{parrainage.membre.telephone}}</span><br>
                    <span class="text-montserrat" style="font-size: smaller" >Lien parrainage: <br> <span class="text-primary text-underlined">
                        {{url}}?mli={{parrainage.membre.id}}&branche={{arbre.code}}
                    </span></span><br>
                    <span class="text-montserrat" style="font-size: smaller">Statut: {{parrainage.statut? 'ACTIVE': 'NON-ACTIVE' }}</span>
                </div>
            </div>
        </div>
        <div class="col-11 col-md-9 border p-0 mr-2">
            <div class="col-sm-12 p-2 main-color">
                <span class="h6 text-montserrat-bold">GENERATION 3</span>
                <span class="d-block h7 text-montserrat mt-1 mb-0" style="font-size: small;">Gain par filleul: {{arbre.montant * arbre.partage.g3 | converter}} {{arbre.devise.code}}</span>
                <span class="d-block h7 text-montserrat mb-0" style="font-size: small;">Gain total(x25): {{arbre.partage.g3 * 125 * arbre.montant | converter}}  {{arbre.devise.code}}</span>
                <span class="d-block h7 text-montserrat mb-0" style="font-size: small;">Filleuls: {{arbre.g3 | nombreFilleuls}}</span>
                <span class="d-block h7 text-montserrat mb-0" style="font-size: small;">Filleuls activés: {{arbre.p3 | nombreFilleulsActives}}</span>
                <span class="d-block h7 text-montserrat mb-0" style="font-size: small;">Montant gagné: {{((arbre.p3 | nombreFilleulsActives) * (arbre.montant * arbre.partage.g3)) | converter }} {{arbre.devise.code}}</span>
            </div>
        
            <div class="col-sm-12 p-2 overflow-auto" style="height: 300px;">
                <div class="col-sm-12 my-1 p-2 border"  *ngFor="let parrainage of p3">
                    <span class="h6 d-block text-montserrat-bold mb-0">{{parrainage.membre.prenom}} {{parrainage.membre.nom}} {{parrainage.membre.postnom}}</span>
                    <span class="text-montserrat" style="font-size: smaller" >Téléphone: {{parrainage.membre.telephone}}</span><br>
                    <span class="text-montserrat" style="font-size: smaller" >Lien parrainage: <br> <span class="text-primary text-underlined">
                        {{url}}?mli={{parrainage.membre.id}}&branche={{arbre.code}}
                    </span></span><br>
                    <span class="text-montserrat" style="font-size: smaller">Statut: {{parrainage.statut? 'ACTIVE': 'NON-ACTIVE' }}</span>
                </div>
            </div>
        </div>
    </div>
</div>