<div class="col-12">
    <h4 class="text-center font-weight-bold">{{message}}</h4>
    <input type="password" name="" id="" [(ngModel)]="input" class="form-control form-control-sm rounded-0 col-12">
    <div class="d-flex justify-content-center">
        <button mat-raised-button color="primary" class="rounded-0" (click)="close()">Valider</button>
    </div>
</div>
