<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport 
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="toolbar mat-elevation-z6" id="app-title">i-LIKELEMBA</mat-toolbar>
  
      <div class="col-12 d-flex flex-column pt-3 mat-elevation-z6" >
        <div class=" d-flex mx-auto h-50 w-25 justify-content-center">
          <img src="assets/images/logo.png" alt="logo">
        </div>
  
        <div class="w-100 mr-auto mt-1 mb-1">
          <div class="h5 user-username text-center mt-3">{{userConnected.nom}} {{userConnected.prenom}}</div>
          <div class="user-username" *ngIf="userConnected.nom">Solde Actuel USD : <span class="badge badge-success">{{userConnected.compte.soldeUSD}}</span> $</div>
          <div class="user-username" *ngIf="userConnected.nom">Solde Actuel CDF : <span class="badge badge-success">{{userConnected.compte.soldeCDF}}</span> CDF</div>
        </div>
      </div>
  
      <div class="container-fluid position-relative">
        <mat-nav-list>
          <a mat-list-item (click)="closeDrawer(drawer)" class="menu-item" routerLink="/"  routerLinkActive="router-link-active" ><i class="fa fa-home mr-3"></i>Acceuil</a>
          <a mat-list-item (click)="closeDrawer(drawer)" class="menu-item" routerLink="main-filleul" *ngIf="userConnected.nom"><i class="fa fa-child mr-3"></i>Filleuls</a>
          <a mat-list-item (click)="closeDrawer(drawer)" class="menu-item" href="#" *ngIf="userConnected.nom"><i class="fa fa-credit-card mr-3" aria-hidden="true" ></i>Payements</a>
        </mat-nav-list>
        
        <div class="dropdown-divider bg-dark mb-0"></div>
        <mat-nav-list>
              <a mat-list-item (click)="launchDialog();" *ngIf="!userConnected.nom"  class=" menu-item nav-link"><i class="fa fa-unlock mr-3"></i>Connexion</a>
              <a mat-list-item (click)="disconnect()" *ngIf="userConnected.nom" class=" menu-item nav-link"><i class="fa fa-unlock mr-3"></i>Deconnexion</a>
        </mat-nav-list>
  
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="toolbar-breadcumb toolbar">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </mat-icon>
        </button>
        <span id="app-title">i-LIKELEMBA</span>
      </mat-toolbar>
      <!-- Add Content Here -->
      <ng-content class="p-0"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="col-12 d-flex justify-content-end fixed-bottom mb-3" *ngIf="userConnected.nom">
    <button *ngIf="fab" mat-fab color="accent" class="mr-3" aria-label="Example icon button with a home icon" (click)="openSheet()">
      <mat-icon><i class="fa fa-plus"></i></mat-icon>
    </button>
  </div>