<div class="col-12 d-flex flex-column justify-content-center h-100 body p-0 m-0">
    <div class="d-flex justify-content-center">
        <div class="col-12 col-sm-6 rounded box shadow-lg p-sm-4 p-0 m-0">
            <h5 class="text-center mt-3">Se connecter</h5>
            <form (ngSubmit)="onSubmit()" #form="ngForm" class="d-flex justify-content-center p-2">
                <div class="p-0 mx-auto">
                    <hr class="bg bg-light mt-0">
                    <input type="text" name="username" class="col-12 field p-2 mt-3" matInput placeholder="Nom d'utilisateur" [(ngModel)]="data.username">
                    <input type="password" name="password" class="col-12 field p-2 mt-2" matInput placeholder="Mot de passe" [(ngModel)]="data.password">
                    <button class="col-12 btn-connect rounded-0 mt-4" mat-raised-button color="primary">Conexion</button>
                    <span class=" d-block mt-1  col-12 text-right text-underlined">Vous n'avez pas de compte?<a routerLink="/inscription" mat-dialog-close> S'inscrire</a></span>
                    <div class="mt-2 h6 text-center text-white" *ngIf="waiting">Connexion en cours ...</div>
                </div>
            </form>
        </div>
    </div>
</div>