.box{
    
    background-color: #130874e7;
    color: white;
}

.btn-connect{
    background-color: #ed0e42;
    color: black;
}


input{
    background-color: white;
}
.body{
    background-image: url(../../../../../assets/images/bg1.png);
}