<div class="col-12 m-0 rounded shadow-sm p-3 relative cursor">
    <span class="d-block h6 text-montserrat-bold">{{arbre.description}}</span>
    <span class="d-block h7 text-montserrat mt-3 mb-0">ID: {{arbre.code}}</span>
    <span class="d-block h7 text-montserrat mb-0">Créateur:{{arbre.geniteur?.prenom}} {{arbre.geniteur?.nom}}</span>

    <span class="text-montserrat" style="font-size: smaller" >Lien parrainage: <br> <span class="text-primary text-underlined">
        {{url}}?mli={{user}}&branche={{arbre.code}}
    </span></span>

    <span class="d-block h7 text-montserrat-bold mt-3 mb-0">Mise: {{arbre.montant}} {{arbre.devise.code}}</span>
    <span class="d-block h7 text-montserrat mb-0">Super Cash: {{arbre.montant * 10}} {{arbre.devise.code}}</span>
    <span class="d-block h7 text-montserrat mb-0">Montant Gagné: {{(arbre | montantTotalArbre).toFixed(3)}} {{arbre.devise.code}}</span>

    <div class="d-flex mt-3">
        <span class="d-block h7 mr-2 text-montserrat mb-0">G1: <span class="badge {{arbre | couleurGeneration:'g1'}}">{{arbre.g1 | nombreFilleuls}}</span></span>
        <span class="d-block h7 mr-2 text-montserrat mb-0">G2: <span class="badge {{arbre | couleurGeneration:'g2'}}">{{arbre.g2 | nombreFilleuls}}</span></span>
        <span class="d-block h7 text-montserrat mb-0">G3: <span class="badge {{arbre | couleurGeneration:'g3'}}">{{arbre.g3 | nombreFilleuls}}</span></span>
        
        <span [routerLink]="['/inscription']" [queryParams]="{mli: user, 'branche': arbre.code}" class="rounded shadow btn ml-3 d-sm-inline-block text-white  main-color mr-2 mb-1 text-center cursor" ><i class="fa fa-user-plus"></i></span> 
    </div>
    
</div>