<div class="col-sm-12 m-0 p-0 bg bg-light" @fade>
    <div class="col-sm-6 offset-sm-3 p-3 h-75">
        <span class="text-montserrat-bold h5 d-block">CREATION BRANCHE</span>
        <hr class=" mr-0" style="height: 3px; background-color: #010c42; width: 90%;">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <label for="nom" class="text-montserrat mt-3">DESCRIPTION DE LA BRANCHE<span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="arbre.description" name="nom" id="nom" class="form-control">
            <label for="nom" class="text-montserrat mt-3">MONTANT D'ADHESION<span class="text-danger">*</span></label>
            <input type="number" [(ngModel)]="arbre.montant" name="nom" id="noffbbfbbm" class="form-control">
            <label for="nom" class="text-montserrat mt-3">DEVISE<span class="text-danger">*</span></label>
            <select name="gbbb b b bgbg" id="dev" class="form-control" [(ngModel)]="arbre.fkDevise">
                <option value="0">SELECTIONNER DEVISE</option>
                <option  *ngFor="let devise of devises" value="{{devise.id}}">{{devise.description}}</option>
            </select>
            <button type="submit" class="btn text-white mt-3 rounded-pill p-2 col-6 offset-3 shadow main-color cursor">Enregistrer</button>
        </form>
    </div>
</div>