<div class="col-sm-12 m-0 p-0 bg bg-light" @fade>
    <div class="col-sm-6 offset-sm-3 p-3 h-75">
        <span class="text-montserrat-bold h5 d-block">ACTIVATION MEMBRE</span>
        <hr class=" mr-0" style="height: 3px; background-color: #010c42; width: 90%;">
        <form>
            <label for="nodfdfdm" style="font-size: small;" class="text-montserrat mt-3">NUMERO DU DESTINATAIRE<span class="text-danger">*</span></label>
            <input type="text" name="gfbgbdsff" maxlength="10" id="nom" class="form-control">
            <button type="submit" class="btn text-white mt-3 rounded-pill p-2 col-6 offset-3 shadow main-color cursor">VALIDER</button>
        </form>

        <div class="mt-2">
            <table class="table table-sm table-borderless text-white">
                <thead>
                    <th>Branche</th>
                    <th>Montant</th>
                    <th>Date parrainge</th>
                </thead>
            </table>
        </div>
    </div>
</div>