<div class="col-12 body">
    <h1 class="mt-4 text-center p-3 mb-0" style="background-color: #010c42; color: white;">Rapport d'activités</h1>
    <mat-progress-bar mode='indeterminate' *ngIf="waiting"></mat-progress-bar>
    <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-inline p-0  pb-0 my-2">
        <select *ngIf="service.userConnected.role != 'agent'" type="date" name="opopo" id="" [(ngModel)]="data.fkAgent" class="form-control form-control-sm col-3 ml-2 rounded-0">
            <option *ngFor="let admin of admins" value="{{admin.id}}">{{admin.noms}}</option>
        </select>
        <label for="" class="ml-2">Date Debut</label>
        <input type="date" name="opopo" id="" [(ngModel)]="data.debut" class="form-control form-control-sm col-3 ml-2 rounded-0">
        <label for="" class="ml-2">Date fin</label>  
        <input type="date" name="opop" id="" [(ngModel)]="data.fin" class="form-control form-control-sm col-3 ml-2 rounded-0">
        <button class="btn btn-primary rounded-0 btn-sm ml-4" type="submit" id="button-addon2">Rechercher</button>        
    </form>
    <div class="col-sm-12 d-flex flex-wrap text-white mb-3 py-3" style="background-color: #010c42; color: white;">
        <div class="col-sm-6">
            <h4 class="text-center font-weight-bold mb-0">Rapport FC</h4>
            <hr class="mx-3 mt-0 mb-2 bg bg-light">
            <table>
                <tbody>
                    <tr>
                        <td class="ont-weight-bold text-right">TOTAL ACTIVATION :</td>
                        <td class="font-weight-bold">{{totalActivationCDF}} Fc</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold text-right">TOTAL PAYEMENT :</td>
                        <td class="font-weight-bold">{{totalPaiementCDF}} Fc</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold  text-right">ENTREE CAISSE :</td>
                        <td class="font-weight-bold">{{totalActivationCDF - totalPaiementCDF}} Fc</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="col-sm-6">
            <h4 class="text-center font-weight-bold mb-0">Rapport USD</h4>
            <hr class="mx-3 mt-0 mb-2 bg bg-light">
            <table>
                <tbody>
                    <tr>
                        <td class="font-weight-bold text-right">TOTAL ACTIVATION :</td>
                        <td class="font-weight-bold">{{totalActivationUSD}} USD</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold text-right">TOTAL PAYEMENT :</td>
                        <td class="font-weight-bold">{{totalPaiementUSD}} USD</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold  text-right">ENTREE CAISSE :</td>
                        <td class="font-weight-bold">{{totalActivationUSD - totalPaiementUSD}} USD</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>