<div class="col-12">
    <h4 class="text-center font-weight-bold">{{message}}</h4>
    <div class="d-flex justify-content-center">
        <button mat-raised-button color="primary" class="rounded-0" mat-dialog-close >OK</button>
    </div>
</div>
