<div class="col-12 body">
    <h1 class="mt-4 text-center p-3 mb-0" style="background-color: #010c42; color: white;">Paiement Membre</h1>
    <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-inline p-0 mb-0 pb-0">
        <label for="" class="ml-2">Date Debut</label>
        <input type="date" name="opopo" id="" [(ngModel)]="data.debut" class="form-control form-control-sm col-3 ml-2 rounded-0">
        <label for="" class="ml-2">Date fin</label>  
        <input type="date" name="opop" id="" [(ngModel)]="data.fin" class="form-control form-control-sm col-3 ml-2 rounded-0">
        <button class="btn btn-primary rounded-0 btn-sm ml-4" type="submit" id="button-addon2">Filtrer</button>
    </form>
    <table class="table table-hover table-sm mt-0 pt-0" *ngIf="paiements">
        <thead class="thead-dark">
            <th>NOMS</th>
            <th>TELEPHONE</th>
            <th>MONTANT CDF</th>
            <th>MONTANT USD</th>
            <th>STATUT</th>
            <th>DATE DE DEMANDE</th>
            <th>DATE DE PAIEMENT</th>
        </thead>
        <tbody>
            <tr *ngFor="let paiement of paiements" class="cursor" (click)="consult(paiement)">
                <td>{{paiement.membre.nom}} {{paiement.membre.postnom}} {{paiement.membre.prenom}}</td>
                <td>{{paiement.membre.telephone}}</td>
                <td>{{paiement.montantTotalCDF}}</td>
                <td>{{paiement.montantTotalUSD}}</td>
                <td>{{paiement.etat}}</td>
                <td>{{paiement.dateDemande | date:'dd/MM/yyyy'}}</td>
                <td>{{paiement.datePaiement | date:'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>