<!-- <mat-card class="col-sm-12 pr-0 mr-0">
    <mat-card-header>
        <mat-card-title>{{arbre.description}}</mat-card-title>
        <mat-card-subtitle>Mise: {{arbre.montant}} $ --- Cash: 100 $</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="col-12 d-flex">
            <div class="bg bg-ligh mr-2">
                G1: <span class="badge {{arbre | couleurGeneration:'g1'}}">{{arbre.g1 | nombreFilleuls}}</span>
            </div>
            <div class="bg bg-light mr-2">
                G2: <span class="badge {{arbre | couleurGeneration:'g2'}}">{{arbre.g2 | nombreFilleuls}}</span>
            </div>
            <div class="bg bg-ligh mr-2">
                G3: <span class="badge {{arbre | couleurGeneration:'g3'}}">{{arbre.g3 | nombreFilleuls}}</span>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>
</mat-card> -->

<div class="card" style="width: 18rem;">
    <div class="card-body pb-0">
      <h1 class="card-title mb-0">{{arbre.description}}</h1>
      <h3 class="card-subtitle mb-2 text-muted mt-0 pt-0">{{arbre.code}}</h3>
    </div>
    <div class="card-body pt-0">
        <hr class="m-0 p-0">
        <h5 class="card-subtitle mb-2 text-muted mt-0 pt-0">Mise: {{arbre.montant}} {{arbre.devise.code}} --- Cash: {{arbre.montant * 10}} {{arbre.devise.code}}</h5>
        <div class="col-12 d-flex p-0">
            <div class="bg bg-light mr-2">
                G1: <span class="badge {{arbre | couleurGeneration:'g1'}}">{{arbre.g1 | nombreFilleuls}}</span>
            </div>
            <div class="bg bg-light mr-2">
                G2: <span class="badge {{arbre | couleurGeneration:'g2'}}">{{arbre.g2 | nombreFilleuls}}</span>
            </div>
            <div class="bg bg-light mr-2">
                G3: <span class="badge {{arbre | couleurGeneration:'g3'}}">{{arbre.g3 | nombreFilleuls}}</span>
            </div>
        </div>
    </div>
  </div>