/* You can add global styles to this file, and also import other style files */

/* @import "~material-icons/iconfont/material-icons.css"; */

@font-face{
    font-family: "Nexa Bold";
    src: url(assets/fonts/NexaBold.otf) format('opentype');
}
@font-face{
    font-family: "Nexa Light";
    src: url(assets/fonts/NexaLight.otf) format('opentype');
}

@font-face{
    font-family: "Montserrat Bold";
    src: url(assets/fonts/Montserrat-Bold.otf) format('opentype');
}

@font-face{
    font-family: "Scout Bold";
    src: url(assets/fonts/Scout-Bold.otf) format('opentype');
}

@font-face{
    font-family: "Cambay Bold";
    src: url(assets/fonts/Cambay-Bold.ttf) format('truetype');
}

@font-face{
    font-family: "Cambay";
    src: url(assets/fonts/Cambay-Regular.ttf) format('truetype');
}

@font-face{
    font-family: "Circular Bold";
    src: url(assets/fonts/CircularStd-Bold.ttf) format('truetype');
}

@font-face{
    font-family: "Circular";
    src: url(assets/fonts/CircularStd-Medium.ttf) format('truetype');
}

@font-face{
    font-family: "Montserrat Light";
    src: url(assets/fonts/Montserrat-Light.otf);
}

@font-face{
    font-family: "Montserrat";
    src: url(assets/fonts/Montserrat-Regular.otf);
}

@font-face{
    font-family: "Scout";
    src: url(assets/fonts/Scout-Regular.otf);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-color{
    background-color: #010c42;
    color: white;
}

.text-white{
    color: white;
}

.text-main-color{
    color:  #010c42;
}

.text-undecorated{
    text-decoration: none;
}

.text-nexa-bold{
    font-family: "Nexa Bold";
}

.text-nexa{
    font-family: "Nexa Light";
}

.text-montserrat-bold{
    font-family: "Montserrat Bold";
}

.text-underlined{
    text-decoration: underline;
}

.text-circular{
    font-family: "Circular";
}

.text-circular-bold{
    font-family: "Circular Bold";
}

.text-cambay{
    font-family: "Cambay";
}

.text-cambay-bold{
    font-family: "Cambay Bold";
}

.text-montserrat{
    font-family: "Montserrat";
}

.text-scout-bold{
    font-family: "Scout Bold";
}
.text-scout{
    font-family: "Scout";
}

.form-control{
    border-width: 1px;
    border-color:  #010c42;
}

.form-control:focus, .btn:active{
    box-shadow: none;
}

.cursor{
    cursor: pointer;
}

.relative{
    position: relative;
}

.fixed{
    position: absolute;
    bottom: 10px;
    right: 10px;
}


