<div class="col-12 body">
    <h1 class="mt-4 text-center p-3 mb-0" style="background-color: #010c42; color: white;">Activation Membre</h1>
    <mat-progress-bar mode='indeterminate' *ngIf="waiting"></mat-progress-bar>
    <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-inline p-0 mb-0 pb-0">
        <div class="input-group mb-0 col-12 p-0">
            <input type="text" name="motclef" [(ngModel)]="data.motclef" class="form-control rounded-0 form-control-sm" placeholder="Veuillez taper le mot clé à rechercher" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary rounded-0 btn-sm" type="submit" id="button-addon2">Rechercher</button>
            </div>
          </div>          
    </form>
    <table class="table table-hover table-sm mt-0 pt-0"> 
        <thead class="thead-dark">
            <th>NOMS</th>
            <th>TELEPHONE</th>
            <th>BRANCHE</th>
            <th>MONTANT</th>
            <th>DEVISE</th>
            <th>DATE</th>
            <th>STATUT</th>
        </thead>
        <tbody>
            <tr *ngFor="let parrainage of parrainages; index as i" class="">
                <td>{{parrainage.membre.nom}} {{parrainage.membre.postnom}} {{parrainage.membre.prenom}}</td>
                <td>{{parrainage.membre.telephone}}</td>
                <td>{{parrainage.fkArbre.description}}</td>
                <td>{{parrainage.fkArbre.montant}}</td>
                <td>{{parrainage.fkArbre.devise.code}}</td>
                <td>{{parrainage.dateCreat | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{parrainage.statut | statutMembre}}</td>
                <td>
                    <button mat-raised-button class="rounded-0" color="primary" (click)="consultMembre(i)"><i class="fa fa-eye"></i> Voir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>